<p>no se puede seguir con las consistencias, se requieren más pruebas de diagnostico. Se recomiendan: .</p>
<p>Puntaje Total: <%= @guss_scale.total_score %></p>
<%= link_to 'volver a menu principal', menu_path %>
