<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Continuar Diagnóstico</title>
</head>
<body>
  <div class="container">
    <h2>¿Desea continuar con el diagnóstico o registrar el nivel de disfagia?</h2>
    <%= link_to "Continuar con el diagnóstico", edit_patient_diagnosis_path(@patient, @diagnosis), class: 'btn btn-primary' %>
    <%= link_to "Registrar nivel de disfagia", new_disfagia_patient_diagnosis_path(@patient, @diagnosis), class: 'btn btn-secondary' %>
  </div>
</body>
</html>

