<h1>Diagnóstico de <%= @patient.name %></h1>

<p>
  <strong>Severidad:</strong>
  <%= @diagnosis.severity %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @diagnosis.date %>
</p>

<%= link_to 'Volver a Diagnósticos', patient_diagnoses_path(@patient) %>
