<div style="background-color: #256490; color: white; padding: 10px; position: fixed; top: 0; width: 100%; z-index: 1000;">
  <a href="<%= menu_path %>" style="text-decoration: none; color: white;">
    <i class="fas fa-home"></i> Volver al menu   |
  </a>
</div>
