<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diagnóstico</title>
  <style>
    body {
      background-color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
      margin: 0;
      font-family: 'Arial', sans-serif;
    }
    .container {
      text-align: center;
      width: 90%;
    }
    .header {
      background-color: #256490;
      color: white;
      padding: 1.5em;
      font-size: 2em;
      margin-bottom: 20px;
      border-bottom-left-radius: 80px;
      border-bottom-right-radius: 80px;
      width: 100%;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
    }
    .content {
      margin-top: 200px;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .options {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 45%;
    }
    .btn {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: 120px;
      width: 400px;
      border: none;
      cursor: pointer;
      font-size: 1.2em;
      margin: 20px 0;
      text-decoration: none;
      border-radius: 30px;
      background-color: #709795;
      color: black;
      padding: 10px 10px 10px 60px;
      position: relative;
      box-sizing: border-box;
    }
    .btn span {
      font-size: 0.8em;
    }
    .btn-severe {
      background-color: #A8BDBC;
    }
    .btn-moderate {
      background-color: #B5B0C9;
    }
    .btn-mild {
      background-color: #7D9DB7;
    }
    .btn::before {
      content: attr(data-number);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;  /* Agrandado */
      height: 60px; /* Agrandado */
      border-radius: 50%;
      background-color: #256490;
      color: #FFFFFF; /* Ensure white text */
      font-weight: bold;
      position: absolute;
      left: -30px;   /* Ajustado para el nuevo tamaño */
      top: 50%;
      transform: translateY(-50%);
    }
    .details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 10px;
      width: 45%;
    }
    .details h2 {
      color: #256490;
      font-size: 1.5em;
      margin-bottom: 10px;
    }
    .details p {
      font-size: 1em;
      margin: 10px 0;
    }
    .square {
      width: 150px; /* Ampliado para acomodar más texto */
      height: auto; /* Permitir que el tamaño varíe según el contenido */
      background-color: #FFFFFF;
      border: 2px solid #256490;
      box-sizing: border-box;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px;
      font-size: 0.8em; /* Ajusta el tamaño de la letra según sea necesario */
      color: #000000; /* Color de la letra negra */
    }
    .squares-container {
      display: flex;
      justify-content: space-between;
      display: none; /* Oculta por defecto */
      width: 100%;
    }
    
    .circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #256490; /* Azul */
      color: #FFFFFF; /* Color del texto blanco */
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2em;
      font-weight: bold;
      margin-top: -30px; /* Alineado con la parte superior de los cuadrados */
      margin-left: 15px; /* Espacio entre los círculos y los cuadrados */
    }

    .circles-container {
      width: 95%;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      margin-bottom: 30px; /* Espacio entre los círculos y los cuadrados */
      display: none; /* Oculta por defecto */
    }

    .squares-container-4 {
      display: flex;
      justify-content: space-between;
      display: none; /* Oculta por defecto */
      width: 100%;
    }
    .circles-container-4 {
      width: 95%;
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      margin-bottom: 30px; /* Espacio entre los círculos y los cuadrados */
      display: none; /* Oculta por defecto */
    }

    
  </style>
</head>
<body>
  <%= render 'shared/header' %>
  <div class="container">
    <div class="header">Fois</div>
    <div class="content">
      <div class="options">
        <div class="option">
          <button class="btn btn-severe" onclick="showDetails('severe')" data-number="1-3">
            <span>Dependiente de via alternativa de alimentación</span>
          </button>
        </div>
        <div class="option">
          <button class="btn btn-moderate" onclick="showDetails('moderate')" data-number="4-7">
            <span>Ingesta por vía oral exclusiva</span>
            
          </button>
        </div>
        
      </div>
      <div id="details" class="details">
        <h2 id="details-title">Presiona cualquiera de los niveles para obtener más detalles</h2>
        <p id="details-description"></p>
        <div class="circles-container">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <div class="squares-container">
          <div class="square"></div>
          <div class="square"></div>
          <div class="square"></div>
        </div>
        <div class="circles-container-4">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <div class="squares-container-4">
          <div class="square"></div>
          <div class="square"></div>
          <div class="square"></div>
          <div class="square"></div>
        </div>
      </div>

    </div>
  </div>

  <script>
    function showDetails(type) {
      var title = '';
      var description = '';
      var circles = [];
      var squares = [];
    
      if (type === 'severe') {
        title = 'Dependiente de vía alternativa de alimentación';
        circles = ['1', '2', '3'];
        squares = [
          'Nada por vía oral, solo vía alternativa.',
          'Dependiente de alguna vía alternativa y mínima vía oral de alimentos o líquidos.',
          'Dependiente de vía alternativa con consistente vía oral de alimentos o líquidos.'
        ];
      } else if (type === 'moderate') {
        title = 'Ingesta por vía oral exclusiva';
        circles = ['4', '5', '6', '7'];
        squares = [
          'Vía oral total de una única consistencia.',
          'Vía oral total con múltiples consistencias, pero con necesidades de preparación especial o compensaciones.',
          'Vía oral total con múltiples consistencias, sin necesidades de preparación especial o compensaciones, pero con restricciones alimentarias.',
          'Vía oral total sin restricciones.'
        ];
      }
    
      document.getElementById('details-title').innerText = title;
      document.getElementById('details-description').innerText = description;
    
      // Actualizar los círculos
      var circleElements = type === 'severe' ? document.querySelectorAll('.circles-container .circle') : document.querySelectorAll('.circles-container-4 .circle');
      for (var i = 0; i < circleElements.length; i++) {
        circleElements[i].innerText = circles[i] || '';
      }
    
      // Actualizar los cuadrados
      var squareElements = type === 'severe' ? document.querySelectorAll('.squares-container .square') : document.querySelectorAll('.squares-container-4 .square');
      for (var i = 0; i < squareElements.length; i++) {
        squareElements[i].innerText = squares[i] || '';
      }
    
      // Mostrar u ocultar los contenedores según sea necesario
      document.querySelector('.circles-container').style.display = type === 'severe' ? 'flex' : 'none';
      document.querySelector('.squares-container').style.display = type === 'severe' ? 'flex' : 'none';
    
      document.querySelector('.circles-container-4').style.display = type === 'moderate' ? 'flex' : 'none';
      document.querySelector('.squares-container-4').style.display = type === 'moderate' ? 'flex' : 'none';
    }
  


  </script>

</body>
</html>