<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <style>
    body {
      background-color: #256490;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: 'Arial', sans-serif;
    }
    .container {
      text-align: center;
      color: #FFFFFF;
    }
    h1 {
      font-size: 3em;
    }

    .btn {
      background-color: #FFFFFF;
      color: #256490;
      padding: 0.5em 1em;
      border: none;
      cursor: pointer;
      font-size: 1.2em;
      border-radius: 15px;
      text-decoration: none;
      display: inline-block;
    }

    .btn:hover {
      background-color: #709795;
      color: white;
    }
    .logo {
      width: 300px;
      height: auto;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <%= image_tag 'Comienzo.png', alt: 'Logo', class: 'logo' %>
    <h1>App Fonoaudiología</h1>
    <%= link_to 'Comenzar', new_user_session_path, class: 'btn' %>
  </div>
</body>
</html>




