<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Pacientes</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #256490;
      color: #FFFFFF;
      font-family: 'Arial', sans-serif;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
    }
    .container {
      margin-top: 100px;
      width: 80%;
      text-align: center;
    }
    .header {
      background-color: #FFFFFF;
      color: #256490;
      padding: 20px;
      font-size: 2.5em;
      border-radius: 10px;
      margin-bottom: 30px;
    }
    .patient-box {
      background-color: #FFFFFF;
      color: #256490;
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 20px;
      text-align: left;
    }
    .btn {
      border-radius: 5px;
      margin-right: 10px;
      padding: 10px 20px;
      font-size: 1em;
    }
    .btn-pacientes {
      background-color: #709795;
      color: #FFFFFF;
    }
    .btn-ver-detalles {
      background-color: #256490;
      color: #FFFFFF;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">Mis Pacientes</div>
    <%= link_to 'Agregar Nuevo Paciente', new_patient_path, class: 'btn btn-pacientes' %>
    <% @patients.each do |patient| %>
      <div class="patient-box">
        <h3><%= patient.name %></h3>
        <%= link_to "Ver Detalles", patient_path(patient), class: 'btn btn-ver-detalles' %>
      </div>
    <% end %>
  </div>
</body>
</html>


