<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Diagnóstico</title>
  <style>
    body {
      background-color: #256490;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: 'Arial', sans-serif;
    }
    .container {
      text-align: center;
      color: #FFFFFF;
    }
    h1 {
      font-size: 3em;
    }

    .btn {
      background-color: #FFFFFF;
      color: #256490;
      padding: 0.5em 1em;
      border: none;
      cursor: pointer;
      font-size: 1.2em;
      border-radius: 15px;
      text-decoration: none;
      display: inline-block;
      margin: 20px;
    }

    .btn:hover {
      background-color: #709795;
      color: white;
    }

    form {
      background-color: #FFFFFF;
      padding: 20px;
      border-radius: 15px;
      width: 50%;
      margin: auto;
    }

    .field {
      margin-bottom: 20px;
    }

    label {
      display: block;
      font-size: 1.2em;
      margin-bottom: 5px;
      color: #256490;
      margin-left: 0; /* Alineación izquierda */
    }

    input[type="text"], select {
      width: 100%;
      padding: 0.5em;
      border-radius: 5px;
      border: 1px solid #CCCCCC;
    }

    .actions {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Ingresa a tu paciente</h1>
    <%= render 'form' %>
  </div>
</body>
</html>
