<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Diagnóstico</title>
  <style>
    body {
      background-color: #FFFFFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: 'Arial', sans-serif;
    }
    .header {
      background-color: #256490;
      color: white;
      padding: 1em;
      font-size: 2.5em;
      border-bottom-left-radius: 80px;
      border-bottom-right-radius: 80px;
      width: 100%;
      margin-top:50px;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
    }
    .container {
      width: 90%;
      text-align: center;
    }
    .field {
      text-align: left;
      margin-bottom: 10px;
    }
    .field input[type="text"], .field input[type="email"], .field select, .field textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 1em;
    }
    .actions {
      margin-top: 20px;
    }
    .btn {
      border-radius: 5px;
      background-color: #256490;
      color: #FFFFFF;
      padding: 10px 20px;
      text-decoration: none;
    }
    #error_explanation {
      background-color: #f8d7da;
      border-color: #f5c6cb;
      color: #721c24;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 5px;
    }
    #error_explanation h2 {
      margin-top: 0;
    }
    #error_explanation ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    #error_explanation ul li {
      margin: 0;
    }
  </style>
</head>
<body>
  <%= render 'shared/header' %>
  <div class="header">Nuevo Paciente</div>
    <div class="container">
      <%= render 'form' %>
    </div>
</body>
</html>
