<!-- app/views/degluconversor/resultad_degluconversor.html.erb -->
<h1>El nivel que coincide es: <%= @resultado[:nivel] %></h1>
<p>Nombre: <%= @resultado[:nombre] %></p>
<p>Otras escalas y detalles aquí...</p>

<%= link_to 'Volver', root_path %>

